.container{
    width: 980px;
    display: flex;
    flex-direction: column;
    height: max-content;
    /* background-color: rebeccapurple;     */
}

.wrapper{

}

.titleWrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.label{
    margin-top: 20px;
}

.contentInformasi{
    /* height: 35px; */
    height: max-content;
    width: 95%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 4px 5px 0px rgba(168,166,166,0.75);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(168,166,166,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(168,166,166,0.75);
    padding: 20px; 
    font-size: 12px;   
}

.content{
    /* height: 15px; */
    height: max-content;
    width: 95%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 12px;
    padding: 20px;    
    /* overflow-y: auto; */    
    box-shadow: 0px 4px 5px 0px rgba(168,166,166,0.75);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(168,166,166,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(168,166,166,0.75);
}

.buttons{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.buttonAccept{
    width: 70px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: green;
}

.buttonAccept:hover{
    background-color: darkgreen;
}

.buttonReject{
    width: 70px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: red;
}

.buttonReject:hover{
    background-color: darkred;
}

.buttonBack{
    width: 70px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: blue;
}

.buttonBack:hover{
    background-color: darkblue;
}