*{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: blue;    
    padding: 0px 100px;
}

.right{
    display: flex;
    align-items: center;
    margin-right: 0px;    
    justify-content: end;
}

.navbar-list{
    display: inline;
    margin-right: 20px;
    color: white;
    cursor: pointer;    
    font-size: 14px;
}

.left{
    align-items: center;
    display: flex;
}

.logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    margin-left: 10px;
    cursor: pointer;
}

.information{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    height: 120px;
    background-color: white;
    align-items: center;
}

.rightsection{
    display: flex;
    flex-direction: column;    
}

.title{
    margin-bottom: 15px;
}

.leftsection{
    display: flex;
    justify-content: space-evenly;
}

.info{
    margin-left: 40px;
    display: flex;
    flex-direction: column;    
}

.info-title{
    margin-bottom: 20px;
}

.content{
    position: relative;        
    height: 600px;
}

.image{
    /* z-index: 1; */
}

.main{
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.719);
    display: flex;
    align-items: center;    
    justify-content: center;
    /* z-index: 99; */
}

.main-content{    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.main-title{
    margin-bottom: 30px;
    font-size: 72px;
}

.sub-main-title{
    font-size: 20px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
    /* background-color: #fefefe; */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatbox{
    width: 95%;
    height: 200px;
    background-color: red;
    display: flex;
    flex-direction: column;
    padding: 10px;    
}

.chat{
    background-color: yellowgreen;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.chat-user{
    background-color: yellowgreen;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* align-content: flex-start; */
}

.voiceButton{
    width: 70px;
    height: 70px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: yellow;
    cursor: pointer;
}

.voiceButton:hover{
    background-color: yellowgreen;
}

.close{
    color: #aaa;    
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-title{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.w3-animate-top{
    position:relative;
    animation:animatetop 0.4s
}
@keyframes animatetop{
    from
    {
        top:-300px;opacity:0
    } to{
        top:0;opacity:1
    }
}