.container{
    width: 300px;
    height: 100px;    
    /* border-radius: 20px; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    align-items: center;
}

.titlecontainer{
    flex: 1;
    width: 100%;            
    /* border-radius: 20px; */
    /* background-color: palegoldenrod; */
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    background-color: #2075C0;
    color: white;
}

.title{
    font-size: 16px;
    font-weight: 600;
    padding: 0px 10px;
}

.contentcontainer{
    width: 100%;
    flex: 2;    
    /* background-color: azure; */
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.content{    
    background-color: #77BDFA;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    font-weight: 700;
    color: white;
}

.icon{    
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2075C0;
    color: white;
}