.container{
    position: absolute;
    width: 82%;
    height: 40px;
    top: 0;
    right: 0;
    /* border-bottom: 1px solid gray; */
    box-shadow: 0px 4px 5px 0px rgba(168,166,166,0.75);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(168,166,166,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(168,166,166,0.75);
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center; 
    justify-content: end;    
}

.name{
    margin-right: 20px;
}