.container{    
    width: 100vw;
    height: 100vh;
    position: relative;
}

.image{
    width: 98%;
    height: 98%;
    
}

.titlecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 20px;
}

.content{
    position: absolute;
    background-color: rgba(27, 27, 27, 0.719);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.loginbox{
    background-color: white;
    width: 30%;
    height: 60%;
    border-radius: 15px;
    padding: 10px;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.inputcontainer{    
    /* background-color: red; */
    padding: 10px;
    height: 80%;
    width: 80%;
}

.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* margin-top: 25px; */
}

.inputbox{    
    height: 40px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.forget{
    color: blue;
}

.buttoncontainer{
    display: flex;
    justify-content: center;
}

.button{
    height: 50px;
    width: 150px;
    background-color: rgb(72, 160, 243);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.button:hover{
    background-color: darkblue;
}


