.container{
    /* position: absolute; */
    /* display: flex; */
    /* justify-content: center; */
    width: 950px;
    /* height: 900px; */
    /* background-color: blueviolet; */
    padding: 20px;    
}

.cardcontainer{
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
   margin-bottom: 40px;
}

.scrapeButton{
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(44, 122, 196);
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.scrapeButton:hover{
    background-color: rgb(72, 160, 243);
}

.tablecontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tablewrapper{    
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.tabletitle{
    margin-bottom: 10px;
}

.table{    
    border: 2px solid rgb(103, 170, 233);
    border-collapse: collapse;
    border-spacing: 20px;
    margin-bottom: 20px;
}

.tableHead{
    background-color: #77BDFA;
    color: white;
    font-size: 18px;        
    font-weight: 100;
    padding: 0px 0px;
}

.tableData{
    font-size: 14px;        
    font-weight: 100;
    padding: 0px 10px;
}