.container{
    width: 100vw;
    height: 100vh;
    position: relative;    
}

.image{
    width: 980px;
    height: 600px;
}

.content{
    position: absolute;
    background-color: rgba(27, 27, 27, 0.719);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rebeccapurple; */
}

.contentcontainer{
    position: relative;
    width: 95%;
    height: 90%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.pagecontainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    
    top: 50px;
    left: 260px;
    width: 1020px;
    height: 85%;
    
    overflow: auto;
}

.page{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;    
}