.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    /* background-color: blue; */
    /* border-right: 1px solid gray; */
    /* box-shadow: 4px 0px 5px 0px rgba(168,166,166,0.75);
    -webkit-box-shadow: 4px 0px 5px 0px rgba(168,166,166,0.75);
    -moz-box-shadow: 4px 0px 5px 0px rgba(168,166,166,0.75); */
    display: flex;
    background-color: #004A8D;
    justify-content: center;
    align-items: center;
}

.wrapper{    
    width: 90%;
    height: 95%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}

.iconcontainer{
    width: 100%;
    flex: 3;
    /* background-color: azure; */
    display: flex;
    justify-content: center;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 70%;
}

.logoTitle{    
    font-size: 18px;
}

.menucontainer{
    width: 100%;
    /* background-color: blanchedalmond; */
    flex: 10;
    display: flex;
    flex-direction: column;
}

.menu{
    width: 100%;
    height: 40px;
    background-color: rgb(235, 233, 233);
    margin-bottom: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu:hover{
    background-color: rgb(189, 187, 187);
}

.titlemenu{
    margin-left: 10px;
    color: black;
    text-decoration: none;
}

