.container{
    width: 920px;
    /* background-color: red; */
}

.wrapper{
    width: 920px;
    display: flex;
    justify-content: center;
}

.card{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid black;
    padding: 30px;
    position: relative;
}

.input{
    margin-bottom: 10px;
}

.icon{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: -45px;
    left: 36%;
}